@tailwind base;
@tailwind components;
@tailwind utilities;

body{
background-image:url(../../1265832-large-black-butterfly-background-wallpaper-1920x1080-phone.jpg);
background-repeat: no-repeat;
background-size: cover;
}

